.stack-work
docker/tmp
*.hie
*.uc
.unison
.unisonHistory
/docker/secrets
/secrets
/codebases
*.hie
.DS_Store
.envrc
.direnv
# Stack profiling
*.prof
*.prof.html
*.profiterole.*
prelude.output.md
/dist-newstyle

# Scratch files
*.u

# Developers can customize their own local development setup
/transcripts/fixtures/custom_projects.txt
