.stack-work
docker/tmp
*.hie
*.uc
.unison
.unisonHistory
/docker/secrets
/secrets
/codebases
*.hie
.DS_Store
.envrc
.direnv
# Stack profiling
*.prof
*.prof.html
prelude.output.md
/dist-newstyle

# Scratch files
*.u
