.stack-work
docker/tmp
*.hie
*.uc
.unison
.unisonHistory
/docker/secrets
/secrets
/codebases
*.hie
.DS_Store
.envrc
.direnv
# Stack profiling
*.prof
*.prof.html
*.profiterole.*
prelude.output.md
/dist-newstyle

# Scratch files
*.u

# End users can customize their own 
transcripts/fixtures/projects.txt
